/* Header */
.header{
    background: var(--dark-blue);
    color: var(--text-white);
    overflow: hidden;
}
.greeting{    
    display: inline-block;
    padding: 0 10px;
    padding-top: 150px;
}
.greeting__name{
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}
.greeting__title{
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 40px;
}
.greeting__info{
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}
.greeting__button{
    display: inline-block;
    padding: 15px 25px;
    border: 1px solid var(--text-white);
    border-radius: 30px;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
.greeting__button-icon{
    margin-left: 5px;
}
.greeting__button:hover{
    background-color: var(--text-white);
    color: var(--dark-blue);
    border-color: var(--text-white);
    transition: 0.5s ease;
}
.photo{
    height: 90vh;
    position: relative;
}
.circle{
    position: absolute;
    background-color: var(--circle-color);
    height: var(--circle-radius);
    width: var(--circle-radius);
    border-radius: 50%;
    left: calc(50% - 200px);
    top: 100px;
}
.circle--gradient{
    background: rgb(95,39,205);
    background: linear-gradient(77deg, rgba(95,39,205,1) 37%, rgba(0,0,0,1) 100%);
}
.photo__img{
    position: absolute;
    bottom: 0px;    
    left: calc(50% - 200px);
}
@media screen and (min-width:768px) {
    /* Header */
    .header{
        display: flex;
        justify-content: space-around;
    }
    .greeting{
        width: 40%;
    }
    .photo{
        width: 40%;
        height: 600px;
    }
}